@page "/debug/log"
@rendermode InteractiveServer
@inherits AuthorizedPage

@inject IJSRuntime _jsRuntime;

<PageTitle>Log</PageTitle>

<div id="log">
    @foreach ((DateTime time, string message, string color) log in _logs)
    {
        <span class="logEntry">
            <span class="logTime">@($"{log.time} ")</span><span style="color: @log.color"
                                                                 class="logMessage">@log.message</span><br/>
        </span>
    }
</div>

<script>
    window.scrollToBottom = function () {
        document.querySelector('#log .logEntry:last-child').scrollIntoView({behavior: 'smooth'});
    }
</script>

<style>
    #log
    {
        height: 90vh;
        overflow-y: auto;
        padding: 10px;
        background-color: black;
        border: 1px solid grey;
        border-radius: 2px;
        font-family: monospace;
        color: white;
    }
</style>