@page "/accountLocked"

<PageTitle>Account Locked</PageTitle>

<h1>Account Locked</h1>
<h2>Try again later.</h2>
<p id="info">
	Your account creation request is waiting to be reviewed by an administrator. If you have added an email address to
	your
	account, you will be notified when your request was reviewed. If this takes too long feel free to <a
		href="https://schlafhase.uk/#contact">contact me</a>.
</p>

<style>
	h1 {
		color: red;
	}

	h2 {
		margin-bottom: 50px;

	}

	#info {
		width: min(100%, 700px);
		background-color: #13011c;
		border-radius: 15px;
		padding: 20px;
		box-shadow: 0px 0px 15px red;
	}
</style>