@page "/deleteAccount"
@rendermode InteractiveServer
@inject ProtectedLocalStorage ProtectedLocalStore
@using MessengerInterfaces
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inherits AuthorizedPage

<PageTitle>Delete Account</PageTitle>
<StreakAlert @ref="_streakAlert"></StreakAlert>

<h1>Delete Account</h1>

Deleting your Account can't be undone. <br/>
<input type="button" value="Delete my Account" @onclick="@deleteAccountClick"/>

@code {

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await Initialize(() => navigationManager.NavigateTo("logout"));
		}
	}

	private async Task deleteAccountClick()
	{
		if (user.IsDemo)
		{
			List<MessageDTO_Output> messages = await messengerService.GetMessagesByAccount(user.Id);

			foreach (MessageDTO_Output message in messages)
			{
				await messengerService.DeleteMessage(message.Id);
			}
			
			ChannelDTO_Output[] channels = await messengerService.GetChannelsFromAuthor(user.Id);
			
			foreach (ChannelDTO_Output channel in channels)
			{
				await messengerService.DeleteChannel(channel.Id);
			}
		}
		
		await messengerService.DeleteAccount(user.Id);
		navigationManager.NavigateTo("logout");
	}

}