@page "/Error/NotFound"
@using System.Diagnostics

<PageTitle>Error</PageTitle>

<h1 class="text-danger">404 Not Found.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<p>The requested page does not exist.</p>

@if (ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@RequestId</code>
    </p>
}


@code {
    [CascadingParameter] private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized()
    {
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
    }

}
