@page "/tos"

<PageTitle>Cactus Terms of Service</PageTitle>

<div id="main">
	<h1>Cactus Terms of Service</h1>
	<br/>
	<h2>Message Content</h2>
	<p>Do not use offensive words in your messages. You have the responsibility to ensure that you have the right to
		send any content you send and that the content is lawful.</p>

	<h2>License</h2>
	<div>
		Everyone has the right to use Cactus Messenger. You can find the code <a href="https://github.com/Schlafhase/CactusMessenger">here</a>.<br/>
		If you have the code you may:
		<ul>
			<li>modify it</li>
			<li>send copies of it to someone else</li>
			<li>publish a modified version</li>
		</ul>
		and you must not:
		<ul>
			<li>sell it</li>
			<li>say you wrote it</li>
		</ul>
		All copies of the code must include Credits mentioning the original version and all copies must have "Cactus" in
		their names (to respect the Holy Cactus Ice Cream).
	</div>
	<br/>

	<h2>Other restrictions</h2>
	<div>
		<ul>
			<li>Do not use Cactus Messenger to harm yourself or others.</li>
			<li>Do not use Cactus Messenger to harm Cactus Messenger.</li>
			<li>Do not use Cactus Messenger to do anything else that is illegal.</li>
			<li>Spamming will result in the termination of your account.</li>
		</ul>
	</div>
	<br/>

	<h2>Other conditions</h2>
	<div>
		By creating an Account, you agree to believe in and respect the Holy Cactus Ice Cream.
	</div>
	<br/>

	<h2>Credits</h2>
	<div>
		<h3>Developers</h3>
		<ul>
			<li>
				Frontend:
				<ul>
					<li>Linus Schneeberg</li>
				</ul>
			</li>
			<li>
				UI Designers (css and HTML):
				<ul>
					<li>Linus Schneeberg</li>
				</ul>
			</li>
			<li>
				Backend:
				<ul>
					<li>Linus Schneeberg</li>
					<li>Moritz Becker</li>
				</ul>
			</li>
		</ul>
		<h3>Database Provider and App Service Host:</h3>
		<ul>
			<li>Microsoft Azure</li>
		</ul>
		<h3>Framework:</h3>
		<ul>
			<li>Blazor</li>
		</ul>
		<h3>Special Thanks:</h3>
		<p>Thank you Finn for always supporting Cactus Messenger</p>
	</div>
</div>
